@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root {
    --soft_orange: hsl(35, 77%, 62%);
    --soft_red: hsl(5, 85%, 63%);
    --off_white: hsl(36, 100%, 99%);
    --grayish_blue: hsl(233, 8%, 79%);
    --dark_grayish_blue: hsl(236, 13%, 42%);
    --very_dark_blue: hsl(240, 100%, 5%);
}

* {
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
}

body {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 3rem;
    width: 100vw;
    min-height: 100vh;
    font-size: 15px;
    padding: 5rem 9rem;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
}

.logo {
    cursor: pointer;
}

.navbar {
    padding: 10px 0;
}

.navbar a {
    padding: 10px 20px;
    text-decoration: none;
    color: var(--dark_grayish_blue);
    cursor: pointer;
    font-weight: 500;
    user-select: none;
}

.navbar a:hover {
    color: var(--soft_red);
}

.container {
    max-width: 100%;
    display: flex;
    gap: 1.5rem;
}

.box1 {
    max-width: 750px;
}

.hero_img {
    max-width: 100%;
    height: 345px;
    margin-bottom: 1rem;
}

.box1_info {
    display: flex;
    gap: 1rem;
}

.box1_info h1 {
    width: 50%;
    font-size: 60px;
    font-weight: 800;
}

.description_info {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.description_info p {
    font-size: 16px;
    color: var(--dark_grayish_blue);
    line-height: 2;
}

.btn {
    background-color: var(--soft_red);
    color: #fff;
    font-family: inherit;
    border: none;
    font-size: 15px;
    padding: 12px 45px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.btn:hover {
    background-color: #000;
}

.box2 {
    height: auto;
    background-color: var(--very_dark_blue);
    padding: 1rem 2rem;
    color: var(--off_white);
}

.box2_title {
    font-size: 36px;
    color: var(--soft_orange);
    margin-top: 1rem;
}

.infos {
    margin-block: 2rem;
}

.infos h3 {
    font-size: 20px;
    margin-bottom: 1rem;
    cursor: pointer;
}

.infos h3:hover {
    color: var(--soft_orange);
}

.infos p {
    font-size: 16px;
    color: var(--grayish_blue);
    line-height: 1.8;
}

.numbers {
    display: flex;
}

.boxes {
    display: flex;
}

footer {
    text-align: center;
    font-size: 12px;
}

footer a {
    color: var(--soft_red);
}